In [ ]:
#1

name=input("Enter your name")
print(f"Your name is {name}")

Your name is Sarthak Singh

In [ ]:
#2
#single line comments are the annotations which does not execute during the output.It is initiated by a #.

In [ ]:
#3
### multiline comments  in python are represented in multiple lines. It is started and ended by triple quotes.
"""Hello , my
name is sarthak"""

'Hello , my\nname is sarthak'

In [3]:
#4

##Indentation in Python is a method to execute sequence of codes.In example print statement is induntated.
if 2>1:
    print ("2 is greater than 1")

2 is greater than 1

In [ ]:
#5 and 6 Variables in python should not have  number, characters in beginning .Although,it can be in between or end.

# Incorrect example of invalid variables.
'''9sart=1
print(9sart)'''

#Correct Example of valid variables.

sart9=1
print(sart9)

1

In [ ]:
#7 Constants in python are universal values generally denoted in capital letters.

PIE=3.14
GRAVITY=9.8

In [9]:
#8 Yes, python is a case sensitive language.

print("CASE SENSITIVE")
 # PRINT("case sensitive") Here, print function does not work in capital letters.

CASE SENSITIVE

In [ ]:
#9 reserved keywords in python are keywords used in functioning of python. If they are used as variables , it may not differentiate between them and throw an error .
# List is a class function also to convert things to list. so it should not be used as variables .

In [11]:
#10 String is a class in python which takes input in alphabetical structure. It is defined in double quotes

a="This is an example of string"
a

'This is an example of string'

In [ ]:
#11 Single and double quotes in python takes string wheres as triple quotes takes multiline strings or comments.

In [14]:
#12 single characters in a string can be accessed through indexing.

ind="python"
ind[1] # positive indexing
ind[-1] #negative indexing

'n'

In [16]:
#13 Slicing in python extracts required values(string) from a large string.

m="I am doing python assignemnt."
m[0:6]

'I am d'

In [19]:
#14 2 strings can be concatened using + sign
n="Sarthak"+" "+"Singh"
n

'Sarthak Singh'

In [ ]:
#15 String Repetition
p="Hey"
print(p*3)

HeyHeyHey

In [ ]:
#16 
"am" in m

True

In [ ]:
#17 Length of a string can be get through len function.

len(m)

29

In [77]:
#18 Comparison of strings

# Strings can be compared in Python using <,>,== operators.

str4="sarthak"
str1="SARTHAK"

if str==str1:
    print("matched")

In [2]:
#18
if 2>3:
    print("2 is greater than 3.")
else:
    print("2 is less than 3")

2 is less than 3

In [23]:
#19 strip method removes spaces in python
q="  hey "
q.strip()

'hey'

In [10]:
#20
u="hello friend, how are you?"
u.split()

['hello', 'friend,', 'how', 'are', 'you?']

In [13]:
#21
l="hello"
l.find("o")

4

In [ ]:
#22 replace

rep="python is getting interesting day by day."
rep.replace("interesting","boring")

'Python is getting boring day by day.'

In [18]:
#23
rep.upper()
rep.lower()

'python is getting interesting day by day.'

In [25]:
#24
rep.startswith("Python")
rep.startswith("I")

False

In [34]:
#25
",".join(rep)

'P,y,t,h,o,n, ,i,s, ,g,e,t,t,i,n,g, ,i,n,t,e,r,e,s,t,i,n,g, ,d,a,y, ,b,y, ,d,a,y,.'

In [ ]:
#26 count sub-string in string

rep.count("a")
rep.count("day")

2

In [41]:
#27 Capitalize method capitalizes the first letter of the string, whereas Title method capitalizes every sub-string of the string.

rep.title()
rep.capitalize()

'Python is getting interesting day by day.'

In [ ]:
#28 

check="123"

print(check.isalpha())
print(check.isdigit())
print(check.isalnum())

False
True
True

In [52]:
#29 integer is data type having positive or negative whole number where as float is data type having decimal values.

a=45 # int
b=3.54 #float

print(a,type(a))
print(b,type(b))

45 <class 'int'>
3.54 <class 'float'>

In [54]:
#30
add=a+b
sub=a-b
div=a/b
mult=a*b
mod=a%b

print("Addition:",add)
print("Subtraction:",sub)
print("Division:",a/b)
print("Multiplication:",mult)
print("Mod:",mod)

Addition: 48.54
Subtraction: 41.46
Division: 12.711864406779661
Multiplication: 159.3
Mod: 2.5199999999999996

In [58]:
#31
num=int(input("Enter the number to be squared"))
sq=num**2
print(f"Square of {num} is {sq}")

Square of 3 is 9

In [ ]:
#32 type conversion in python is converting a value from one data type to other data type.

In [66]:
#33 Convert string to Integer.

str2="33"
str3="sarthAK"
int1= int(str2)
int2=int(str3)

print(int1)
print(int2)
# we can see that string having alphebets cannot be converted into integer whereas whereas string having numeric values can be converted into integer.

ValueError: invalid literal for int() with base 10: 'sarthAK'

In [1]:
#34 Convert Integer to Float

number=37
con= float(number)
print(con)

37.0

In [2]:
#35 Convert Float to integer

dec=7.93
int_con=int(dec)
print(int_con)

7

In [6]:
#36 Convert Float, Integer to string

con_str=str(dec)
print(type(con_str),con_str)
con_int=str(number)
print(con_int,type(con_int))

<class 'str'> 7.93
37 <class 'str'>

In [20]:
#37 Non_numeric string cannot be converted to float

try:
    non_num="singh"
    con_float=float(non_num)
finally :
    print("Non-numeric string cannot be converted to float.")

Non-numeric string cannot be converted to float.

ValueError: could not convert string to float: 'singh'